<h1 align="center">Artigos</h1>

<div align="center">
    <%= will_paginate @posts, :previous_label => 'Próximo', :next_label => 'Anterior' %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate @posts, :previous_label => 'Próximo', :next_label => 'Anterior' %>
</div>