<html>
    <head>
        <title>Alpha Blog</title>
        <p1>About Alpha Blog</p1>
        <p2>This is the alpha Blog</p2>
    </head>
    
    <body>
        <p1>Sobre o blog</p1>
        <%= link_to 'Home', pages_home_path %>
    </body>
</html>
