<html>
    <head>
        <title>Alpha Blog</title>
        <p1>Alpha Blog</p1>
        <p2>This is the alpha Blog</p2>
    </head>
    
    <body>
        <p1>Um paragrafo</p1>
        
        <%= link_to 'About', pages_about_path %>
    </body>
</html>
